@CHARSET "ISO-8859-1";

body{
	background-color: #181818;
}

#thumbs {
	list-style: none outside none; /* On supprime le style de la liste par défaut */
	margin: 0 auto; /* La galerie est centrée horizontalement */
	padding: 0;
	width: 480px;
}
 
#thumbs li {
	float: left;
	height: 112px;
	margin: 0;
	padding: 5px;
	position: relative;
	width: 150px;
	z-index: 10;
	text-align: center; /* align the image to center */
    background-color:#282828 ; /* background color of each */
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    /*border-radius: 10px; /* rounded borders effect */
  /*  border: 2px solid #585858; /* border and color */
}
 
#thumbs li:hover {
	z-index: 100; /* Nécessaire pour Firefox */
/*	height: 400px;
	width:400px;*/
}
 
#thumbs li img {
	border: 5px solid #fff;
	z-index: 100;
	transition: transform 0.25s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out;
	-o-transition: -o-transform 0.25s ease-in-out;
	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	transform: scale(0.75); /* On réduit l'image à 75% */
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-webkit-transform: scale(0.75);
}

#thumbs:hover li img {
	opacity: 0.5; /* Au survol de la galerie, toute les images auront une opacité de 50% */
}
 
#thumbs li:hover img {
	opacity: 1; /* L'image survolée aura une opacité de 100% */
	z-index: 100;
	transform: scale(1); /* On affiche l'image à sa taille normale */
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	box-shadow: 1px 1px 10px #000; /* On ajoute une ombre */
	-moz-box-shadow: 1px 1px 10px #000;
	-o-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 10px #000;
}